.videoFooter {
    position: relative;
    color: white;
    bottom: 150px;
    margin-left: 40px;
    display: flex;
}

.videoFooter__text > p {
    padding-bottom: 60px;
}

.videoFooter__text > h3 {
    padding-bottom: 20px;
}

.videoFooter__icon {
    position: absolute;
    padding-top: 90px;
}

.videoFooter__ticker {
    overflow: hidden;
    color: white;
    flex: 1;
    position: absolute;
    left: 30px;
    width: 300px;
    bottom: 14px;
}

.videoFooter__ticker p {
    padding-top: 90px;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 5s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.videoFooter__ticker h1  {
    padding-top: 7px;
}

